/* may still need to change sizing on gifs*/
body {
    text-align: center;
    margin: auto;
    background-size: auto;
    font-family: 'Alegreya Sans', sans-serif;
}
header {
    letter-spacing: 4px;
    color:pink;
    text-shadow: 2px 2px 2px black;
    position: fixed;
    top: 0px;
    font-size: 40px;
    background-image: url("../images/bling.jpg");
    border-bottom: grey solid 2px;
    border-radius: 15px;
    width: 100%;
}
#time-left {
    font-weight: bold;
    font-size: 30px;
}
.question {
    margin: auto;
    width: 90%;
    font-size: 18px;
    font-weight: bold;
    font-style: italic
}
h1 {
    padding: 0px;
    margin: 10px;
}
.button {
    letter-spacing: 2px;
    color: white;
    text-shadow: 2px 2px 2px black;
    background: pink;
    font-size: 30px;
    padding: 5px 15px 5px 15px;
    border-radius: 6px;
    border-bottom: grey solid 2px;
    border-right: grey solid 2px;
}
#check-button {
    margin: 0px 0px 60px 0px;
}
#start-button {
    margin: 0px 0px 40px 0px;
}
#restart-button {
    letter-spacing: 2px;
    color: white;
    text-shadow: 2px 2px 2px black;
    background: pink;
    font-size: 30px;
    padding: 5px 15px 5px 15px;
    border-radius: 6px;
    border-bottom: grey solid 2px;
    border-right: grey solid 2px;
}
form {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 90%;
}